<h3>Location Creation</h3>


<p>Fill out the following information to add a new location to the list:</p>

<div class="form">
  <form action="l_confirm">
     <p>
     <label for="city">City: </label> 
     <input type="text" name="city"><br>
     <input type="submit" value="Submit"> <input type="reset">
     
     </p>
  </form>
</div>