<h2>Welcome the Warhouse Manager Homepage</h2>

<p>Which aspect of the warehouse would you like to use?</p>

<ul>
  <li><a href="/products">Products</a></li>
  <li><a href="/locations">Locations</a></li>
  <li><a href="/categories">Categories</a></li>
</ul>






  



