<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse Manager Web App Interface</title>
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">
    
  </head>
  
  <body>
    <div class="nav_menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="categories">Categories</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
    
<html>