

<h3>Products</h3>
<ul>
  <li><a href="/p_new">Create a new product</a></li>
  <li><a href="/p_search">Search for, edit, or delete products</a></li>
  <li><a href="/p_all">See all products</a></li>
</ul>