

<h4>Products</h4>
<ul>
  <li><a href="/p_new">Create a new product</a></li>
  <li>Search for, edit, and delete an existing product</li>
  <li><a href="/p_all">See all products</a></li>
  <li><a href="/p_location">See all products at a specific location</a></li>
  <li><a href="/p_category">See all products in a specific category</a></li>
</ul>