

<h4>Products</h4>
<ul>
  <li>Create a new product</li>
  <li>Edit an existing product</li>
  <li>Search for a specific product by title or by author</li>
  <li>See all products at a specific location</li>
  <li>See all products in a specific category</li>
  <li>Delete a product</li>
</ul>