h1, h3 {
  font-family: Times, serif;
  font-size: 24px;
  text-decoration: overline;
  text-decoration-style: double;
  text-decoration-color: #FFFFFF;
}



a:link {
  color: #FFFFFF;
}

a:visited {
  color: #663300;
}

a:hover {
  color: #000000;
}

.nav_menu {
  font-weight: bold;
  background-color: #CC9966;
  border: 2px solid #FFFFFF;
  width: 15%;
  position: absolute;
  right: 5%;
  top: 5%;
}

body {
  margin: 2%;
  background: #996600;
}

p {
  font-family: Courier, serif;
}

.list_display {
  background-color: #CC9966;
  border: 2px solid #FFFFFF;
  width: 50%;
  padding: 10px;
  margin: 4px;
}