<h3>Category Confirmation</h3>


<p>Please verify that this is correct:</p>

<div class="form">
  <form action="c_confirm">
     <p>
     <label for="isbn">Genre: <%= @genre %></label> 
     <input type="hidden" name="genre"><br>
     <input type="submit" value="Submit" value="<%= @genre %>"> <input type="reset">
     
     </p>
  </form>
</div>