<h3>Category Confirmation</h3>


<p>Please verify that this is correct:</p>

<div class="form">
  <form action="c_create">
     <p>
     <label for="isbn">Genre: <%= @genre %></label> 
     <input type="hidden" name="genre" value="<%= @genre %>"><br>
     <input type="submit" value="Confirm">
     <input type="button" name="Back" onclick="javascript:history.back()" value="Back">
     
     </p>
  </form>
</div>