<h3>Category Creation</h3>


<p>Fill out the following information to add a new category to the list:</p>

<div class="form">
  <form action="c_confirm_create">
     <p>
     <label for="isbn">Genre: </label> 
     <input type="text" name="genre"><br>
     <input type="submit" value="Submit"> <input type="reset">
     
     </p>
  </form>
</div>