<h3>Product Creation</h3>


<p>Fill out the following information to add a new product to the list:</p>

<div class="form">
  <form action="/p_confirm_create">
     <p>
     <label for="isbn">ISBN# (ex 12345): </label> 
     <input type="text" name="isbn"><br>
     <label for="title">Title (ex A Book Title): </label> 
     <input type="text" name="title"><br>
     <label for="author">Author (ex John Doe): </label> 
     <input type="text" name="author"><br>
     <label for="description">Description (ex Paperback): </label> 
     <input type="text" name="description"><br>
     <label for="cost">Cost (ex 2.99): </label> 
     <input type="text" name="cost"><br>
     <label for="price">Price (ex 3.99): </label> 
     <input type="text" name="price"><br>
     <label for="quantity">Quantity (ex 12): </label> 
     <input type="text" name="quantity"><br>
     <label for="category_id">Category ID (ex 3): </label> 
     <input type="text" name="category_id"><br>
     <label for="location_id">Location ID (ex 5): </label> 
     <input type="text" name="location_id"><br>
     <input type="submit" value="Submit"> <input type="reset">
     </p>
  </form>
</div>
     
     
     
     
     
     
