<h3>Product Search</h3>


<form action="/result">
  <p>How would you like to search for the product(s)?</p>
   <select name="branch">
     <option value="Title">Title</option>
     <option value="Author">Author</option>
     <option value="Author">Author</option>
     <option value="Author">Author</option>
     <option value="Author">Author</option>
     
     <!-- WORK IN PROGRESS!!!!!!!!!!!!!!!!!!!! -->

   </select>

  <label for="gallons">Gallons used: </label> 
  <input type="text" name="gallons"><br>
  <input type="reset"><input type="submit">
</form>