<h3>Product Search</h3>


<p>How would you like to search for the product(s)?</p>

<div class="form">
  <form action="/p_narrow">
    <select name="search">
      <option value="id">ID</option>
      <option value="isbn">ISBN</option>
      <option value="title">Title</option>
      <option value="author">Author</option>
      <option value="description">Description</option>
      <option value="cost">Cost</option>
      <option value="price">Price</option>
      <option value="quantity">Quantity</option>
      <option value="category_id">Category ID</option>
      <option value="location_id">Location ID</option>
    </select>
    <input type="submit">
  </form>
</div>
